.circle
{
  background: url('../text_around_image/img/img5.jpg');
  background-size: cover;
 
  height: 200px;
  margin: 0;
  padding: 0;
  width: 200px;
  shape-outside: circle();
  float: left;
  border-radius: 50%;
}