button{
  border-radius: 50%;
  border: 3px solid black;
  height: 150px;
  width: 150px;
  font-size: 30px;
  background: transparent;
  color: greenyellow;
}

.button::before{
  content: '.';

  border-top: 3px solid greenyellow;
  border-right: 3px solid greenyellow;

  
  position: absolute;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  top: 0;
  left: 50;
  z-index: 100;
}