button{
  background: linear-gradient(90deg , red , yellow , blue , purple);
  height: 100px;
  width: 300px;
  background-size: 400%;
}

button:hover{
  animation: animate 8s linear infinite;
}

@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}