body{
  margin: 0;
  padding: 0;

}

ul{
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  background-color: gray;
  width: 100%;
  margin: 0;
  padding: 0;

}

ul li{
  list-style-type: none;
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
  border-right: 1px solid black;
  transition: 0.5s;
  overflow: hidden;


}
ul:hover li{
  width: 10%;
}
ul li:hover{
  width: 60%;
}

.img-1
{
  background: url('img/img1.jpg');
  background-size: cover;
}
.img-2
{
  background: url('img/img2.jpg');
  background-size: cover;
}
.img-3
{
  background: url('img/img3.jpg');
  background-size: cover;
}
.img-4
{
  background: url('img/img4.jpg');
  background-size: cover;
}
.img-5
{
  background: url('img/img5.jpg');
  background-size: cover;
}
ul li .content
{
  width: 100%;
  position: absolute;
  bottom: -400%;
  left: 0;
  color: whitesmoke;
  background: rgba(0,0,0,0.4);
  box-sizing: border-box;
}

ul li:hover .content{
  bottom: 0%;
  transition: 0.5s;
  transition-delay: 0.5s;
}